nav {background-color: grey;}
a {color: yellow; font: outline;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;}
    h1 {color: blue}
    .col-8
    {font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
